{# src/AM/CoreBundle/Resources/views/menuFooter.html.twig #}

<ul class="nav">
  {% for item_menu in menuFooter %}
    <li>
      <a href="#">
        {{ item_menu.title }}
      </a>
    </li>
  {% endfor %}
</ul>