{# src/AM/IdeaMachineBundle/Resources/views/layout.html.twig #}

{% extends "AMCoreBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

	<div id="wrapper">
        <div class="wrap">
            {{ include("AMIdeaMachineBundle:Idea:menuConnectOrAuteur.html.twig") }}
            <div class="container-border">
                {% block am_idea_machine_body %}
                {% endblock %}
            </div>
        </div>
    </div>


{% endblock %}