{# src/AM/IdeaMachineBundle/Resources/views/Idea/listIdeas.html.twig #}

<div class="list-idea">
    <ul>
        {{ include("AMIdeaMachineBundle:Idea:listIdeas-li.html.twig") }}
    </ul>
    {% if count > 1 %}
        <a href="#" class="afficher-la-suite" title="Afficher la suite" data-page="1" data-page-max="{{ count }}">Afficher la suite</a>
    {% endif %}
</div>