{# src/AM/IdeaMachineBundle/Resources/views/Idea/menuConnectOrAuteur.html.twig #}

<div class="menu-right-co">
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<ul>
			<li><a href="{{ path('am_platform_add') }}" title="Ajouter une idée">Ajouter une idée</a></li>
			<li><a href="{{ path('am_platform_mine') }}" title="Mes idées">Mes idées</a></li>
			<li><a href="{{ path('fos_user_security_logout') }}" title="Se déconnecter">Se déconnecter</a></li>
		</ul>
	{% else %}
		<div class="connect-wrapper">
			<ul>
				<li><span class="open-connect">Se connecter</span></li>
			</ul>
			{{ render(controller("FOSUserBundle:Security:LoginBis")) }}
		</div>
	{% endif %}
</div>